{% extends 'base.html.twig' %}

{% block title %}Hello FirstController!{% endblock %}

{% block body %}

    <h1 class="display-1">CALC Operation! ✅</h1>
    
    <h3>
        {{x}} + {{y}} = {{res}}
    </h3>

{% endblock %}